@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../../assets/fonts/AppleSDGothicNeoR.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: rgb(239, 239, 239);
  font-family: 'AppleSDGothicNeo';
}

a{
  text-decoration-line: none;
}

.menuDiv{
  text-align: center;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.writeButton{
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: white;
  padding: 7px;
  right: 7px;
  position: absolute;
  display: flex;
}

.writeIcon{
  height: 20px;
  margin-right: 3px;
}

.postTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}