@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('../../assets/fonts/AppleSDGothicNeoR.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: aliceblue;
  font-family: 'AppleSDGothicNeo';
}

a{
  text-decoration-line: none;
}

.menuButtonDiv{
  text-align: center;
  margin-top: 10px;
}

.menuButton{
  font-size: 20px;
  padding: 7px;
  margin: 10px;
  background-color: rgb(165, 165, 165);
  color: aliceblue;
  border:0;
  font-weight: bold;
}

.postBox{
  padding: 7px;
  margin: 7px;
  background-color: aliceblue;
}

.postTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}