.editorDiv{
  margin: 30px;
  text-align: center;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable){
  min-height: 300px;
}

.title-input{
  border:none;
  width: 70%;
  font-size: 15px;
  padding-left: 10px;
}

.setInfoDiv{
  display: flex;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin-bottom: 5px;
}

.boardTypeComboBox{
  width: 30%;
  height: 100%;
}

.boardTypeComboBox > select{
  border: none;
  border-right: 1px solid #c4c4c4;
  width: 100%;
  height: 100%;
}

.test{
  text-align: left;
}

.saveButtonDiv{
  display: flex;
  justify-content: right;
  margin-top: 7px;
}

.saveButtonDiv > button{
  position: relative;
  padding: 7px;
  font-size: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: white;
}

.saveButtonDiv > button > img{
  vertical-align: middle;
  height: 14px;
  margin-right: 7px;
}