footer{
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #CF5260;
  color: white;
}

footer > div > a{
  text-decoration-line: none;
  color: white;
  font-weight: bold;
}

footer > div > a:hover{
  color: black;
}