footer{
  margin-top: auto;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #CF5260;
  color: aliceblue;
}

footer > div > a{
  text-decoration-line: none;
  color: aliceblue;
  font-weight: bold;
}