.title{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  margin: 0px;
  background-color: rgb(38, 38, 38);
}

.titleLink{
  text-decoration-line: none;
  color: aliceblue;
}