.navBar{
  list-style: none;
  border-left: 1px solid #c4c4c4;
}

.navBar_first{
  list-style: none;
}

ul{
  padding-left: 0px;
  display: flex;
  margin: 0px;
}


ul > li{
  height: 34px;
  display: flex;
}

ul > li > a{
  padding: 7px;
}

li a.active{
  color: #CF5260;
}

li a:hover{
  color: #CF5260;
}

.navList{
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:7px;
}